<div class="container">
  <div class="row">
    <div class="panel">
      <div class="panel-body">
        <h2><i class="fa fa-dashboard"></i>
            <%= link_to t('dashboard') ,dashboard_index_path%>
            <small><%= t('control_panel') %></small>
        </h2>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i>
            <%= link_to t('home'),home_path %></li>
            <li class="active"><%= t('dashboard') %></li>
        </ol>
      </div>
    <div class="panel-footer">
    <div id="alert"><%= render 'layouts/alert' %></div>
        <div class="row">
  <div class="col-lg-1 col-xs-1"></div>
  <div class="col-lg-2 col-xs-4">
          <div class="small-box bg-aqua">
              <div class="inner">
                  <h3>
                      150
                  </h3>
                  <p>
                      New Admissions
                  </p>
              </div>
              <div class="icon">
                  <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
      </div>
      <div class="col-lg-2 col-xs-4">
          <div class="small-box bg-green">
              <div class="inner">
                  <h3>
                      53<sup style="font-size: 20px">%</sup>
                  </h3>
                  <p>
                      Finance Rate
                  </p>
              </div>
              <div class="icon">
                  <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
      </div>
      <div class="col-lg-2 col-xs-4">
          <div class="small-box bg-yellow">
              <div class="inner">
                  <h3>
                      44
                  </h3>
                  <p>
                      User Registrations
                  </p>
              </div>
              <div class="icon">
                  <i class="ion ion-person-add"></i>
              </div>
              <a href="http://almsaeedstudio.com/AdminLTE/index.html#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
      </div>
      <div class="col-lg-2 col-xs-4">
          <div class="small-box bg-aqua">
              <div class="inner">
                  <h3>
                      12
                  </h3>
                  <p>
                      Campus News
                  </p>
              </div>
              <div class="icon">
                  <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
      </div>
      <div class="col-lg-2 col-xs-4">
          <div class="small-box bg-red">
              <div class="inner">
                  <h3>
                      65
                  </h3>
                  <p>
                      Unique Visitors
                  </p>
              </div>
              <div class="icon">
                  <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

