<div class="container">
  <div class="row">
    <div class="panel">
      <div class="panel-body">
        <h2><i class="fa fa-dashboard"></i>
            <%= link_to t('dashboard') ,dashboard_index_path%>
            <small><%= t('control_panel') %></small>
        </h2>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i>
            <%= link_to t('home'),home_path %></li>
            <li class="active"><%= t('dashboard') %></li>
        </ol>
      </div>
    <div class="panel-footer">
    <div id="alert"><%= render 'layouts/alert' %></div>
      <div class="row">
        <%= image_tag 'wed6.jpg', style: 'width:100%'%>
      </div>
    </div>
    </div>
  </div>
</div>

