<section class="content-header">
    <h1>
    <a href="#"><i class="fa fa-th-large"></i></a>
        <%= t('view') %>
        <small><%= t('users') %></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/users"><i class="fa fa-user"></i> <%= t('users') %></a></li>
        <li class="active"><%= t('view') %></li>
    </ol>
</section>
<div id="alert"><%= render 'layouts/alert' %></div>
<section class="content">
  <div class="row">
  	<div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h2 class="page-header">
            <i class="fa fa-user"></i> <%= t('user_profile') %>
            <small class="pull-right"><h5><%= t('registration_date')%>: <%= @user.created_at.to_date%></h5></small>
        </h2>
    </div>
	</div>
	<div class="row">
	  	<div class="col-xs-2"></div>
	    <div class="col-xs-8 table-responsive">
	        <p class="lead"><%= @user.full_name %></p>
	        <div class="table-responsive">
	            <table class="table table-striped">
	                <tbody>
	                <tr>
	                    <th style="width:50%"><%= t('username') %></th>
	                    <td><%= @user.username%></td>
	                </tr>
	                <tr>
	                    <th><%= t('role') %></th>
	                    <td><%= @user.role %></td>
	                </tr>
	                <tr>
	                    <th><%= t('email') %></th>
	                    <td><%= @user.email %></td>
	                </tr>
	            <% if current_user.admin %>
	            	<tr>
	                    <th><%= t('hall') %></th>
	                    <td><%= @user.hall_name %></td>
	                </tr>
	            <% end %>
	                <tr><th></th><td></td>
	                </tr>
	            </tbody></table>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-8"></div>
	    <div class="col-xs-4">
	    	<%= link_to "#{t('change_password')}", edit_user_path(@user),class: "btn btn-primary"%>
	    </div>
	</div>
</section>