<!DOCTYPE html>
<html>
<head>
  <title><%= t('swarajya_forget_password') %></title>
  <%= stylesheet_link_tag 'application'%>
  <%= javascript_include_tag :defaults, "rails.validations" %>
</head>
<body class="bg-black">

<div class="form-box" id="login-box">
    <div class="header"><%= t('forgot_password')%></div>
   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="body bg-gray">
        <%= devise_error_messages! %> 
            <div class="form-group">

            <%= f.email_field :email, autofocus: true, type: "text", class: "form-control", required: true, placeholder: "#{t('email')}" %>
            </div>
        </div>

	    <div class="footer">
	    <%= f.submit "#{t('reset_password')}", class: "btn bg-olive btn-block" %>

	    	<%= render "devise/shared/links" %>

	    </div>
	<% end %>
</div>
</body>
</html>
