<section class="content-header">
    <h1>
    <a href="#"><i class="fa fa-home"></i></a>
        <%= t('configuration') %>
        <small><%= t('home') %></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <%= t('dashboard') %></a></li>
        <li class="active"><%= t('configuration') %></li>
    </ol>
</section>
<div id="alert"><%= render 'layouts/alert' %></div>
<section class="content">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= t('configuration') %></h3>
        </div>

<%= form_for @hall,url:{action:'update',id: @hall.id}, method: :patch do |f| %>
   <div class="box-body">
   <%= hall_error_messages! %>
     <div class="form-group">
         <%= f.label "#{t('hall_name')}"%>
         <%= f.text_field :name, class: "form-control", placeholder: "#{t('hall_name')}"%>
     </div>
     <div class="form-group">
         <%= f.label "#{t('hall_address')}"%>
         <%= f.text_field :address, class: "form-control", placeholder: "#{t('hall_address')}"%>
     </div>
     <div class="form-group">
         <%= f.label "#{t('hall_phone_no')}"%>
         <%= f.text_field :phone_no, class: "form-control", placeholder: "#{t('hall_phone_no')}"%>
     </div>
     <div class="form-group">
         <%= f.label "#{t('language')}"%>
         <%= f.select :language,[[t('english'),'en'],[t('marathi'),'mr'],[t('hindi'),'hi']],{prompt: "#{t('select_language')}"},{class: "form-control"} %>
     </div>
     <div class="form-group">
         <%= f.label "#{t('upload_logo')}"%>
         <%= f.file_field :image, placeholder: "#{t('choose_file')}", class: "form-control" %>
     </div>
   </div>                     
   <div class="box-footer">
     <%= f.submit "#{t('update')}", class: "btn btn-success"%>
   </div>
<% end %>
   </div>
  </div>
 </div>
</section>