<section class="content-header">
    <h1>
    <a href="#"><i class="fa fa-th-large"></i></a>
        <%= t('view') %>
        <small><%= t('halls') %></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/users"><i class="fa fa-institution"></i> <%= t('halls') %></a></li>
        <li class="active"><%= t('view') %></li>
    </ol>
</section>
<div id="alert"><%= render 'layouts/alert' %></div>
<section class="content">
  <div class="row">
  	<div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h2 class="page-header">
            <i class="fa fa-institution"></i> <%= t('hall_profile') %>
            <small class="pull-right"><h5><%= t('registration_date')%>: <%= @hall.created_at.to_date%></h5></small>
        </h2>
    </div>
	</div>
	<div class="row">
	  	<div class="col-xs-2"></div>
	    <div class="col-xs-8 table-responsive">
	        <p class="lead"><%= @hall.name.capitalize %></p>
	        <div class="row invoice-info">
	        	<div class="col-sm-1"></div>
                <div class="col-sm-3 invoice-col">
                    <address>
                        <strong><%= t('address') %></strong><br>
                        <%= @hall.address %>
                    </address>
                </div>
                <div class="col-sm-2 invoice-col">
                    <address>
                        <strong><%= t('phone') %></strong><br>
                        <%= @hall.phone_no %>
                    </address>
                </div>
                <div class="col-sm-2 invoice-col">
                    <address>
                        <strong><%= t('language') %></strong><br>
                        <%= hall_language %>
                    </address>
                </div>
            </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-8"></div>
	    <div class="col-xs-4">
	    	<%= link_to "#{t('generate_pdf')}", hall_profile_configuration_path(@hall, format: 'pdf'), class: "btn btn-primary"%>
	    </div>
	</div>
</section>