<section class="content-header">
    <h1>
    <a href="#"><i class="fa fa-institution"></i></a>
        <%= t('halls') %>
        <small><%= t('view') %></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <%= t('dashboard') %></a></li>
        <li class="active"><%= t('halls') %></li>
    </ol>
</section>
<div id="alert"><%= render 'layouts/alert' %></div>
<section class="content">
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"><%= t('hall_table') %></h3>
      </div>
      <div class="box-body table-responsive">
        <table id="data_table" class="table table-hover display">
          <thead>
            <tr>
              <th><%= t('hall_name') %></th>
              <th><%= t('hall_register_date') %></th>
            </tr>           
          </thead>
          <tfoot>
            <tr>
            <th colspan="2"></th>
            </tr>
          </tfoot>
          <tbody>
            <% @halls.each do |hall| %>
              <% unless current_user.hall == hall %>
                <tr>
                  <td><%= link_to hall.name, configuration_path(hall) %></td>
                  <td><%= hall.created_at.to_date %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>