<!DOCTYPE html>
<html>
<head>
  <title><%= current_user.hall_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue wysihtml5-supported  pace-done" style="min-height: 1767px;">
	<%= render 'layouts/index'%>
</body>
</html>
